<html>
	<head>
		<meta charset="UTF-8" />
		<title>Lista dispositivos</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid p-0">
		<font face="sans-serif">

			<div class="card" style="width: 100%;" font face="sans-serif">

				<div class="card-body">
					<h3 class="card-title">LISTADO DISPOSITIVOS</h3>
					<br><br>
					<br><br>					
					<caption>Lista de Dispositivos Inteligente</caption>
					<table class="table table-sm">
					
						<thead class="thead-dark">
						
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">ID</th>
								<th scope="col">NroSector</th>
								<th scope="col">Desactivado</th>				
							
							</tr>
							
						</thead>
						
						<tbody>
							
							<tr th:each="d : ${dispositivos}">
								<td><span th:text="${d.nombre}" /></td>
								<td><span th:text="${d.id}" /></td>
								<td><span th:text="${d.nroSector}" /></td>
								<td><span th:text="${d.deleted}" /></td>
								
								</td>
						
							</tr>
						
						</tbody>
					
					</table>
				
				</div>
			
			</div>
		
		
		</div>
	</body>
<br><br><br>
&ensp;&nbsp;<a href="/index"><input type="button" value="HOME" /></a>
</html>