<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>


	<div class="container-fluid p-0">
		<font face="sans-serif">

			<div class="card" style="width: 100%;" font face="sans-serif">

				<div class="card-body">
					<h3 class="card-title">ALUMBRADO Y EVENTOS - REPORTE</h3>

					<br><br>
					<!--<a href="/alumbrado/newEvento" class="btn btn-primary">AGREGAR EVENTO</a>-->
					<p>Valores de referencia ALumbrado:</p>
					<p>Luz Prendida => 50</p>
					<p>Luz Apagada <= 20</p>
					<br>
					<!--Filtro-->
					<form class="form-inline" th:action="@{eventos}">
						<div class="form-group mb-2">
							<label>Filtrar: </label>
						</div>

						<div class="form-group mx-sm-3 mb-2">
							<input type="text" name="palabraClave" class="form-control" id="palabraClave"
								th:value="${palabraClave}" placeholder="Ingrese búsqueda">
						</div>
						<input type="submit" class="btn btn-info mb-2" value="Buscar">
						&nbsp;
						<input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">


					</form>
					
					<br><br>

					<table class="table table-sm">
					
						<thead class="thead-dark">

							<tr>
								<th scope="col">Dispositivo IOT </th>
								<th scope="col">Nº Sector</th>					
								<th scope="col">Medición</th>
								<th scope="col">Descripción</th>
								<th scope="col">Fecha</th>
								<th scope="col">Hora</th>
								

							</tr>

						</thead>

						<tbody>

							<tr th:each="p : ${listaEventos}">
								<td th:text="${p.dispositivoIOT.nombre}"></td>

								<td th:text="${p.dispositivoIOT.nroSector}"></td>
								<td th:text="${p.dispositivoIOT.medicionSensor}"></td>

								<td th:text="${p.descripcion}"></td>
								<td th:text="${p.fecha}"></td>
								<td th:text="${p.hora}"></td>
								
								
								
								
								
							</tr>
						</tbody>
					</table>
			
				</div>
			</div>
	</div>

<script type="text/javascript">
	function limpiarCampos(){
		window.location='eventos';
	}
	
</script>


</body>
<br><br><br>
&nbsp;&nbsp;<a href="/index"><input type="button" value="HOME" /></a>

</html>