<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

	<div class="container-fluid p-0">
		<font face="sans-serif">

			<div class="card" style="width: 100%;" font face="sans-serif">

				<div class="card-body">
					<h3 class="card-title">CRUD ALUMBRADO</h3>
					<br><br>

					<a href="/alumbrado/new" class="btn btn-primary">AGREGAR</a>
					<br><br>					
					<caption>Lista de Alumbrado Inteligente</caption>
					<table class="table table-sm">
						
						<thead class="thead-dark">

							<tr>
								<th scope="col">Dispositivo IOT </th>
								<th scope="col">Nº Sector</th>
								<th scope="col">valor Min </th>
								<th scope="col">Valor Max</th>
								
								<th scope="col">ACCIONES</th>
								<th scope="col"></th>

							</tr>

						</thead>

						<tbody>

							<tr th:each="d : ${listaDispositivos}">
								<td th:text="${d.nombre}"></td>
								<td th:text="${d.nroSector}"></td>																
								<td th:text="${d.valorMinimo}"></td>
								<td th:text="${d.valorMaximo}"></td>
	
								<td><a class="btn btn-success" th:href="@{/alumbrado/} + ${d.id}" th:text="'EDITAR'" title="Editar"></a></td>
								
								<td><a class="btn btn-danger" th:href="@{/alumbrado/delete/} + ${d.id}" th:text="'BORRAR'" title="Borrar"></a>
								</td>

							</tr>

						</tbody>

					</table>
				</div>
			</div>
	</div>
	</body>
<br><br><br>
&ensp;&nbsp;<a href="/index"><input type="button" class="btn btn-secondary" value="HOME" /></a>

</html>