<form action="#" th:action="@{/alumbrado/create}" th:object="${alumbrado}" method="post">
	
	<p>Nombre: <input type="text" th:field="*{nombre}" placeholder="Ingrese nombre dispositivo" required minlength="4" maxlength="50"  /></p>
	<p>Nro Sector: <input type="number" th:field="*{nroSector}"  value="1" min="1" max="147" required/></p>	
	
	
	<p>Valor Minimo: <input type="number" th:field="*{valorMinimo}" value="1" min="1" max="50" required/></p>
	<p>Valor Maximo: <input type="number" th:field="*{valorMaximo}" value="1" min="1" max="100"required/></p>
	
		
	<input type="submit" value="CREAR"/>
	
</form>
