<form action="#" th:action="@{/alumbrado/eventos/create}" th:object="${evento}" method="post">

	<p>Nombre Dispositivo:</p>
	
	<select th:field="*{dispositivoIOT}" class="form-control" required>
	
		<th:block th:each="dispositivoIOT :${listaDispositivos}">
			<option th:text="${dispositivoIOT.toString}"  th:value="${dispositivoIOT.id}"></option>
			</th:block>
			
	</select>
	
	
	<p>Descripcion: </p> 

	<li class="list-group-item">
		<input class="form-check-input me-1" type="checkbox" th:field="*{descripcion}" value="Prender Luz" id="prender">
		<label class="form-check-label" for="prender">Prender Luz</label>
	</li>

	<li class="list-group-item">
		<input class="form-check-input me-1" type="checkbox" th:field="*{descripcion}" value="Apagar Luz" id="apagar">
		<label class="form-check-label" for="apagar">Apagar Luz</label>
	</li>

	<p>Fecha: <input type="date" th:field="*{fecha}" required /></p>
	<p>Hora: <input type="time" th:field="*{hora}" required /></p>


	<input type="submit" value="CREAR EVENTO" />

</form>